/*---index---*/

body {
    margin: 0px;
    padding: 0px;
}

header {
    height: 100px;
    width: 100%;
    background-color: azure;
    text-align: center;
}

header img {
    width: 100%;
    height: 100%;
}

.group {
    height: 600px;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* Needed to position the navbar */
    position: relative;
}


/* Position the navbar container inside the image */

.container {
    position: absolute;
    width: 100%;
    height: 100%;
}

.container img {
    height: 100%;
    width: 100%;
    padding: 0px;
    margin: 0px;
}


/* The navbar */

nav {
    overflow: hidden;
    background-color: #333;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    margin-top: 0px;
    margin-left: 0px;
    opacity: 0.7;
    filter: alpha(opacity=50);
}


/* Navbar links */

nav ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    background-color: #333;
}

nav ul li {
    float: left;
    /* Add a gray right border to all list items, 
    except the last item (last-child) */
    border-right: 1px solid #bbb;
}

nav ul li:last-child {
    border-right: none;
}

nav ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav ul li a:hover {
    background-color: #111;
}


/*Thumbnail section*/

#thumbnail {
    height: 100px;
    background-color: black;
    width: 100%;
}


/*---home content section---*/

#home-content {
    height: 400px;
    width: 100%;
}

article {
    width: 60%;
    height: 100%;
    float: left;
}

.quote {
    width: 30%;
    float: right;
    padding: 10px;
}

.quote img {
    border-radius: 23px;
}


/*---footer---*/

footer {
    height: 50px;
    background-color: black;
    width: 100%;
    clear: both;
}

footer p {
    color: white;
    padding: 15px;
}


/*---contacts container section---*/

#service {
    display: inline-block;
    width: 25%;
    padding: 10px;
    margin: 15px;
    align-content: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 12px;
}

#service img {
    width: 100px;
    height: 100px;
}

#contacts-container {
    padding: 12px;
    margin: 30px;
    text-align: center;
}


/*---feedback---*/

.feedback-phrase {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.feedback-phrase h1 {
    color: #ffffff;
    font-size: 90px;
    padding: 0%;
    margin: 0%;
}

.feedback-phrase p {
    color: #ffffff;
    font-size: 30px;
    padding: 0%;
    margin: 0%;
}

form {
    margin-bottom: 22px;
}

fieldset {
    border: none;
    padding: 0;
}

#feedback {
    width: 60%;
    margin: 20px;
    margin-left: 30px;
}

.feedback-group {
    width: 100%;
}

.feedback-group label {
    color: #111;
    cursor: pointer;
    font-weight: 400;
}

.feedback-group input,
select,
textarea {
    border: 1px solid #c6c9cc;
    border-radius: 5px;
    color: #111;
    display: block;
    margin: 5px 0 27px 0;
    padding: 5px 8px;
}

.feedback-group input,
.feedback-group textarea {
    width: 90%;
    height: 40px;
}

.feedback-group select {
    height: 40px;
    width: 92%;
}

.feedback-group textarea {
    height: 78px;
}

.btn-default {
    border: 0;
    color: #ffffff;
    background: #648880;
    padding: 11px 30px;
    font-size: 14px;
    border-radius: 10px;
}

.btn-default:hover {
    background: #77a198;
}